.title {
    color: var(--white);
    text-align: center;
    font-size: 5em;
    text-decoration: underline;
    padding: .5em;
    margin-top: 2rem;
}

.span--orange {
    color: var(--primary_color);
}

.inputs {
    background-color: var(--secondary_color);
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    padding: 0.8rem;
    margin: 1.5rem;

}

.inputs::placeholder {
    color: var(--black);
}

.form--container {
    display: flex;
    flex-direction: column;
    width: 25rem;
    margin: 0 auto;
}

.secondary--color {
    color: var(--secondary_color);
    text-decoration: none;
    text-align: center;
}

.button--submit {
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    width: 10rem;
    padding: .4rem;
    margin: .8rem;
    align-self: center;
    color: var(--white);
    background-color: var(--primary_color);
    border: none;
}

.align--right {
    text-align: end;
    padding-bottom: 5rem;
}

@media screen and (min-width:500px) {
    .input__container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}